<!DOCTYPE html>
<#assign appsite="/">
<#assign staticsite="/">
<#assign mystaticsite="http://static2.weboovip.com/">
<#assign myimage="http://www.weboovip.com/images/">
<#assign mygame="http://www.weboovip.com/">
<#assign kfUrl="https://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?jid=1807989851&companyID=1045015&configID=77519&codeType=custom&ss=1">

<#assign imagesite="${imagesite!}">
<#assign appsiteRepet="${appsite!}" />
<#assign appVersion="version=17" />
<script>
    _appsite = '${appsite}';
    _staticsite = '${staticsite}';
    _imagesite = '${imagesite}';
    _mystaticsite = '${mystaticsite}'
</script>